.floating-icons-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.floating-icon {
  position: absolute;
  font-size: 4rem;
  color: rgba(0, 212, 170, 0.5);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.floating-icon:nth-child(1) {
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}
.floating-icon:nth-child(2) {
  top: 20%;
  right: 15%;
  animation-delay: 1s;
}
.floating-icon:nth-child(3) {
  top: 60%;
  left: 5%;
  animation-delay: 2s;
}
.floating-icon:nth-child(4) {
  top: 40%;
  right: 10%;
  animation-delay: 3s;
}
.floating-icon:nth-child(5) {
  top: 80%;
  left: 20%;
  animation-delay: 4s;
}
.floating-icon:nth-child(6) {
  top: 15%;
  left: 60%;
  animation-delay: 5s;
}
.floating-icon:nth-child(7) {
  top: 70%;
  right: 20%;
  animation-delay: 6s;
}
.floating-icon:nth-child(8) {
  top: 30%;
  left: 80%;
  animation-delay: 7s;
}
.floating-icon:nth-child(9) {
  top: 85%;
  right: 5%;
  animation-delay: 8s;
}
