.floating-icons-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.floating-icon {
  position: absolute;
  color: #00d4aa;
  font-size: 4rem;
  opacity: 0.7;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.floating-icon:nth-child(1) {
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}
.floating-icon:nth-child(2) {
  top: 20%;
  right: 15%;
  animation-delay: 1s;
}
.floating-icon:nth-child(3) {
  top: 60%;
  left: 5%;
  animation-delay: 2s;
}
.floating-icon:nth-child(4) {
  top: 40%;
  right: 10%;
  animation-delay: 3s;
}
.floating-icon:nth-child(5) {
  top: 80%;
  left: 20%;
  animation-delay: 4s;
}
.floating-icon:nth-child(6) {
  top: 15%;
  left: 60%;
  animation-delay: 5s;
}
.floating-icon:nth-child(7) {
  top: 70%;
  right: 20%;
  animation-delay: 6s;
}
.floating-icon:nth-child(8) {
  top: 30%;
  left: 80%;
  animation-delay: 7s;
}
.floating-icon:nth-child(9) {
  top: 85%;
  right: 5%;
  animation-delay: 8s;
}

@media (max-width: 768px) {
  .floating-icon {
    font-size: 2.5rem;
  }

  .floating-icon:nth-child(1) {
    top: 5%;
    left: 5%;
  }
  .floating-icon:nth-child(2) {
    top: 15%;
    right: 10%;
  }
  .floating-icon:nth-child(3) {
    top: 50%;
    left: 3%;
  }
  .floating-icon:nth-child(4) {
    top: 35%;
    right: 8%;
  }
  .floating-icon:nth-child(5) {
    top: 75%;
    left: 15%;
  }
  .floating-icon:nth-child(6) {
    top: 10%;
    left: 55%;
  }
  .floating-icon:nth-child(7) {
    top: 65%;
    right: 15%;
  }
  .floating-icon:nth-child(8) {
    top: 25%;
    left: 75%;
  }
  .floating-icon:nth-child(9) {
    top: 80%;
    right: 3%;
  }
}

@media (max-width: 480px) {
  .floating-icon {
    font-size: 2rem;
  }
}
